*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solide #1212ae;
  border-radius: 4px;
  resize: vertical;
}

input[type=date]{
  width: 40%;
  padding: 12px;
  border: 1px solide #1212ae;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solide #1212ae;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: all 0.5s;
}

input:focus {
  border: 3px solid #ffbb10;
}

input[type=submit]:hover {
  padding-right: 100px;
  background-color: #58d15e;
}

.container {
  border-radius: 10px;
  max-width: 50%;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

#button_accueil {    
  position: absolute;
  bottom: 3%;
  left: 2%;
  background-color: rgba(182, 21, 0, 0.5);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  transition: all 0.5;
}

button {    
  background-color: rgb(54, 4, 4);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  transition: all 0.5;
}

button:hover {
  transition: all 0.5s;
  padding-left: 100px;
  background-color : rgb(129, 9, 9);
}

#button_accueil:hover {
  transition: all 0.5s;
  padding-left: 100px;
  background-color : rgba(212, 6, 6, 0.822);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-20, .col-50, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
}
